# ELO Calculations to Predict First Round Results at the 2020 Europeans

#### Step 4: Make Predictions on Real Tournament

In [1]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd

In [217]:
df1 = pd.read_csv('fighter_info_table.csv')
df1.drop(columns=['Unnamed: 0'], inplace=True)
df1.head(5)

           Fighter  num_wins  num_losses  total_matches
0  Adam Wardzinski        48          12             60
1    Kaynan Duarte        46           5             51
2   Marcos Martins        42          12             54
3   Fellipe Andrew        41           6             47
4    Gabriel Sousa        38          12             50

In [219]:
df2 = pd.read_csv('custom_weight_2.csv') # final version with seasonal weighting
df2.drop(columns=['Unnamed: 0'], inplace=True)
df2.head(10)

          fighter       rating       weight
0  R. Evangelista  1617.526992  ultra_heavy
1      Joao Rocha  1601.315465  ultra_heavy
2   Eduardo Lopes  1574.720426  ultra_heavy
3     Victor Hugo  1560.821159  ultra_heavy
4   Kaynan Duarte  1548.223339  ultra_heavy
5   Rudson Mateus  1546.727935  ultra_heavy
6  Eldar Rafigaev  1537.422912  ultra_heavy
7     Max Gimenis  1534.345239  ultra_heavy
8  Patrick Gaudio  1533.253427  ultra_heavy
9   Jackson Sousa  1529.303396  ultra_heavy

In [84]:
df2.weight.unique()

array(['ultra_heavy', 'super_heavy', 'rooster', 'middle', 'medium_heavy',
       'light_feather', 'light', 'heavy', 'feather', 'ABS'], dtype=object)

In [95]:
rooster = df2.loc[df2.weight == 'rooster']
rooster.sort_values(by=['rating'], ascending=False)[:20]

                fighter       rating   weight
591        Cleber Sousa  1588.228744  rooster
592       Livio Ribeiro  1558.068297  rooster
593      Rodnei Barbosa  1553.763703  rooster
594      Mikey Musumeci  1552.021639  rooster
595      Carlos Alberto  1545.102057  rooster
596        Hiago George  1530.659307  rooster
597     Thalison Soares  1528.331566  rooster
598  Tomoyuki Hashimoto  1526.536558  rooster
599        Marko Tapani  1517.264078  rooster
600     Fernando Soares  1512.829732  rooster
636    Masaaki Todokoro  1500.000000  rooster
640          Raul Gomes  1500.000000  rooster
639    Matheus Monteiro  1500.000000  rooster
638   Franciedson Costa  1500.000000  rooster
637     Tharcisio Silva  1500.000000  rooster
632        Joao Kuruoka  1500.000000  rooster
635     Andre Verdemare  1500.000000  rooster
634       Cleito Soares  1500.000000  rooster
633        Chris Noonan  1500.000000  rooster
642      Paulo Pizziali  1500.000000  rooster

In [86]:
light_feather = df2.loc[df2.weight == 'light_feather']
light_feather.sort_values(by=['rating'], ascending=False)[:20]

              fighter       rating         weight
1798     Hiago George  1651.093369  light_feather
1799    Gabriel Sousa  1645.734327  light_feather
1800       Joao Miyao  1644.216818  light_feather
1801    Jonas Andrade  1581.899467  light_feather
1802   Lucas Pinheiro  1560.402555  light_feather
1803    Livio Ribeiro  1546.649474  light_feather
1804       Alex Sodre  1541.332446  light_feather
1805      Paulo Miyao  1532.757620  light_feather
1806  Ashley Williams  1526.529199  light_feather
1807     Cleber Sousa  1526.300636  light_feather
1808   Diego Oliveira  1524.914560  light_feather
1809       Hiago Gama  1521.033928  light_feather
1810     Tiago Barros  1520.008891  light_feather
1811    Samir Chantre  1519.613867  light_feather
1812        Eric Phan  1515.383045  light_feather
1813   Malachi Edmond  1514.729406  light_feather
1814  Thalison Soares  1514.207593  light_feather
1815  Bebeto Oliveira  1512.801300  light_feather
1816   Carlos Alberto  1512.801300  light_feather
1817     Geo Martinez  1509.598576  light_feather

In [96]:
feather = df2.loc[df2.weight == 'feather']
feather.sort_values(by=['rating'], ascending=False)[:20]

                fighter       rating   weight
3256   Isaac Doederlein  1711.920434  feather
3257        Paulo Miyao  1702.081642  feather
3258     Kennedy Maciel  1667.127695  feather
3259         Alex Sodre  1639.767632  feather
3260      Gabriel Sousa  1618.303637  feather
3261    Matheus Gabriel  1612.207860  feather
3262    Richar Nogueira  1597.859468  feather
3263     Augusto Mendes  1596.683454  feather
3264       Israel Sousa  1581.172437  feather
3265     Diego Oliveira  1576.916404  feather
3266      Deandre Corbe  1564.717445  feather
3267          Joao Neto  1560.257532  feather
3268  Jamil Hill-Taylor  1549.859221  feather
3269       Marcio Andre  1545.831164  feather
3270       Hiago George  1544.581609  feather
3271        Joao Mendes  1541.302376  feather
3272   Osvaldo Moizinho  1538.994230  feather
3273         Joao Miyao  1526.905546  feather
3274      Pedro Valenca  1526.296353  feather
3275     Mikey Musumeci  1521.033928  feather

In [88]:
light = df2.loc[df2.weight == 'light']
light.sort_values(by=['rating'], ascending=False)[:20]

                 fighter       rating weight
2119       Diego Ramalho  1670.016494  light
2120          Levi Jones  1648.225141  light
2121       Lucas Valente  1637.713986  light
2122          Alef Brito  1637.353147  light
2123           JT Torres  1590.240568  light
2124     Guilherme Rocha  1586.704864  light
2125         Fabio Caloi  1580.233680  light
2126       Paulo Gabriel  1580.225503  light
2127         Johnny Tama  1573.621347  light
2128         Lucas Lepri  1570.782188  light
2129       Pedro Ramalho  1567.112972  light
2130       Renato Canuto  1564.976072  light
2131  Alexandre Molinaro  1563.167251  light
2132     Arthur Detanico  1562.239088  light
2133        Natan Chueng  1560.447542  light
2134        Jaime Canuto  1558.633384  light
2135    Osvaldo Moizinho  1557.326818  light
2136      Ygor Rodrigues  1555.136345  light
2137        Vagner Rocha  1554.970525  light
2138      Tommy Langaker  1548.287938  light

In [89]:
middle = df2.loc[df2.weight == 'middle']
middle.sort_values(by=['rating'], ascending=False)[:20]

               fighter       rating  weight
692    Isaque Bahiense  1636.870759  middle
693      Michael Liera  1617.292741  middle
694       Jaime Canuto  1600.017240  middle
695       Otavio Sousa  1599.038542  middle
696         Dante Leon  1593.412180  middle
697     Tommy Langaker  1588.844652  middle
698      Gabriel Arges  1580.604588  middle
699   Jeferson Guaresi  1574.479561  middle
700    Alexandre Jesus  1574.328001  middle
701     Manuel Ribamar  1569.296511  middle
702  Guthierry Barbosa  1566.366664  middle
703      Diego Ramalho  1555.633417  middle
704    Wellington Luis  1551.881960  middle
705         Igor Paiva  1549.054115  middle
706       Felipe Cesar  1541.517091  middle
707     Igor Verissimo  1539.525152  middle
708   Claudio Calasans  1539.275217  middle
709      Marcos Tinoco  1537.670763  middle
710    Victor Silverio  1535.625735  middle
711      Paulo Gabriel  1532.116417  middle

In [90]:
medium_heavy = df2.loc[df2.weight == 'medium_heavy']
medium_heavy.sort_values(by=['rating'], ascending=False)[:20]

                 fighter       rating        weight
1227       Rudson Mateus  1658.462430  medium_heavy
1228     Gustavo Batista  1645.183901  medium_heavy
1229      Marcos Martins  1621.191572  medium_heavy
1230       Matheus Diniz  1612.555104  medium_heavy
1231      Manuel Ribamar  1609.855543  medium_heavy
1232       Gabriel Arges  1605.168052  medium_heavy
1233         Josh Hinger  1601.457717  medium_heavy
1234     Gabriel Almeida  1594.591871  medium_heavy
1235     Isaque Bahiense  1583.510482  medium_heavy
1236       Lucas Barbosa  1582.173009  medium_heavy
1237         Felipe Pena  1569.900791  medium_heavy
1238    Henrique Cardoso  1564.041750  medium_heavy
1239      Luca Anacoreta  1562.330888  medium_heavy
1240       Michael Liera  1552.638943  medium_heavy
1241     Rafael Paganini  1549.248340  medium_heavy
1242  Matheus Spirandeli  1544.380855  medium_heavy
1243   Mauricio Oliveira  1543.079905  medium_heavy
1244      Murilo Santana  1538.897971  medium_heavy
1245       C. Negromonte  1536.799730  medium_heavy
1246     Jonnatas Gracie  1534.961437  medium_heavy

In [181]:
heavy = df2.loc[df2.weight == 'heavy']
heavy.sort_values(by=['rating'], ascending=False)[:20]

                fighter       rating weight
2848      Kaynan Duarte  1759.195890  heavy
2849    Adam Wardzinski  1652.656853  heavy
2850      Fernando Reis  1580.232058  heavy
2851     Fellipe Andrew  1567.338179  heavy
2852    Gerard Labinski  1556.972803  heavy
2853    Dimitrius Souza  1545.521701  heavy
2854        Craig Jones  1544.901222  heavy
2855    Gustavo Batista  1541.916145  heavy
2856         Leandro Lo  1540.928928  heavy
2857     Dominique Bell  1537.232316  heavy
2858       Luan Azevedo  1536.444670  heavy
2859   Philippe Pomaski  1533.075909  heavy
2860        Dan Borovic  1531.761924  heavy
2861  Horlando Monteiro  1528.559907  heavy
2862        Inacio Neto  1526.258138  heavy
2863      Fellipe Trovo  1526.227202  heavy
2864        Jake Watson  1526.096988  heavy
2865    Vinicius Trator  1525.906511  heavy
2866     Patrick Gaudio  1521.587048  heavy
2867    Gabriel Almeida  1520.066901  heavy

In [189]:
super_heavy = df2.loc[df2.weight == 'super_heavy']
super_heavy.sort_values(by=['rating'], ascending=False)[:20]

               fighter       rating       weight
265     Fellipe Andrew  1650.154271  super_heavy
266  Nicholas Meregali  1635.313234  super_heavy
267    Vinicius Trator  1632.544988  super_heavy
268        Gordon Ryan  1567.230672  super_heavy
269        Mahamed Aly  1560.526946  super_heavy
270        Tim Spriggs  1560.146213  super_heavy
271      Kaynan Duarte  1558.080815  super_heavy
272   Devhonte Johnson  1556.942381  super_heavy
273  Guilherme Augusto  1546.624929  super_heavy
274    Gustavo Batista  1534.812332  super_heavy
275          M. Fowler  1524.893871  super_heavy
276    Arnaldo Maidana  1521.854891  super_heavy
277     Matheus Felipe  1521.033928  super_heavy
278        Felipe Pena  1520.031720  super_heavy
279        Craig Jones  1519.601385  super_heavy
280      Lucas Barbosa  1518.787539  super_heavy
281        Helton Jose  1518.008981  super_heavy
282    Freddy Vosgrone  1516.917136  super_heavy
283        Fabio Alano  1514.224650  super_heavy
284        Pedro Elias  1514.207593  super_heavy

In [97]:
ultra_heavy = df2.loc[df2.weight == 'ultra_heavy']
ultra_heavy.sort_values(by=['rating'], ascending=False)[:10]

          fighter       rating       weight
0  R. Evangelista  1617.526992  ultra_heavy
1      Joao Rocha  1601.315465  ultra_heavy
2   Eduardo Lopes  1574.720426  ultra_heavy
3     Victor Hugo  1560.821159  ultra_heavy
4   Kaynan Duarte  1548.223339  ultra_heavy
5   Rudson Mateus  1546.727935  ultra_heavy
6  Eldar Rafigaev  1537.422912  ultra_heavy
7     Max Gimenis  1534.345239  ultra_heavy
8  Patrick Gaudio  1533.253427  ultra_heavy
9   Jackson Sousa  1529.303396  ultra_heavy

In [94]:
ABS = df2.loc[df2.weight == 'ABS']
ABS.sort_values(by=['rating'], ascending=False)[:20]

                fighter       rating weight
3785    Adam Wardzinski  1628.420119    ABS
3786         Kyle Boehm  1618.882362    ABS
3787     Marcelo Gomide  1617.609948    ABS
3788      Roberto Abreu  1611.674561    ABS
3789  Nicholas Meregali  1608.971801    ABS
3790        Gordon Ryan  1602.610594    ABS
3791   Keenan Cornelius  1601.458224    ABS
3792    Gustavo Batista  1600.406626    ABS
3793     Fellipe Andrew  1592.003543    ABS
3794      Lucas Barbosa  1590.681400    ABS
3795      Lachlan Giles  1587.348750    ABS
3796      Kaynan Duarte  1586.831839    ABS
3797         Leandro Lo  1582.225895    ABS
3798    Arnaldo Maidana  1579.231386    ABS
3799     Ronaldo Junior  1571.056958    ABS
3800  Horlando Monteiro  1569.442533    ABS
3801      Ross Nicholls  1564.260563    ABS
3802     Tommy Langaker  1563.400888    ABS
3803         DJ Jackson  1563.030598    ABS
3804        Jake Watson  1560.634663    ABS

In [116]:
df2.head()

          fighter       rating       weight
0  R. Evangelista  1617.526992  ultra_heavy
1      Joao Rocha  1601.315465  ultra_heavy
2   Eduardo Lopes  1574.720426  ultra_heavy
3     Victor Hugo  1560.821159  ultra_heavy
4   Kaynan Duarte  1548.223339  ultra_heavy

In [117]:
df4 = pd.read_excel('2020_Europeans_firstrounds.xlsx')
df4.rename(columns={"Unnamed: 2": "Fighter_1_elo", "Unnamed: 3": "Win_expec",
                   "Unnamed: 7": "Fighter_2_elo", "Unnamed: 8": "Rating_Dif",
                   "Unnamed: 9": "Win_expec_2"}, inplace=True)

In [144]:
fighter_dict = dict(zip(feather.fighter, feather.rating))
df4['Fighter_1_elo'] = df4['Fighter'].map(fighter_dict)
df4['Fighter_2_elo'] = df4['Opponent'].map(fighter_dict)

In [121]:
df4.Fighter_1_elo.notnull().sum()

55

In [122]:
df4.Fighter_2_elo.notnull().sum()

63

In [123]:
df4['Rating_Dif'] = df4.Fighter_1_elo - df4.Fighter_2_elo

In [125]:
df4.Rating_Dif.unique()

array([         nan,   8.86167015,   0.        , -26.34102854,
        79.9746381 ,  -3.20851763, 123.11090268, -36.99493121,
         6.76820053,  -5.82187242, -10.06726795, -16.24661851,
        12.40586467, -18.0981135 , -15.30223131,   3.16802425,
        21.26613775,  -6.31952717,  10.17879902,  -0.71291157,
        -8.16592781,  -3.29938821,  31.06859181,  -7.29286108,
        27.92219848,  21.6026713 ,  20.27867098,  12.11274317,
        55.34745894,  26.54440664,  -8.2732014 , -64.01997879,
        13.77463374, -17.0816424 ,  -2.87404961, -14.20759279,
        56.97280342, -63.97405983,  35.03073981,  92.00354323,
        -1.24715042,   5.93622993])

In [149]:
# mapping all weight classes
eu_rooster = df4.loc[df4.Weight == 'Rooster']
eu_light_feather = df4.loc[df4.Weight == 'Light Feather']
eu_feather = df4.loc[df4.Weight == 'Feather']
eu_light = df4.loc[df4.Weight == 'Light']
eu_middle = df4.loc[df4.Weight == 'Middle']
eu_medium_heavy = df4.loc[df4.Weight == 'Medium Heavy']
eu_heavy = df4.loc[df4.Weight == 'Heavy']
eu_super_heavy = df4.loc[df4.Weight == 'Super Heavy']
eu_ultra_heavy = df4.loc[df4.Weight == 'Ultra Heavy']

fighter_dict7 = dict(zip(super_heavy.fighter, super_heavy.rating))
eu_super_heavy['Fighter_1_elo'] = eu_super_heavy['Fighter'].map(fighter_dict7)
eu_super_heavy['Fighter_2_elo'] = eu_super_heavy['Opponent'].map(fighter_dict7)

fighter_dict7 = dict(zip(ultra_heavy.fighter, ultra_heavy.rating))
eu_ultra_heavy['Fighter_1_elo'] = eu_ultra_heavy['Fighter'].map(fighter_dict7)
eu_ultra_heavy['Fighter_2_elo'] = eu_ultra_heavy['Opponent'].map(fighter_dict7)

fighter_dict1 = dict(zip(rooster.fighter, rooster.rating))
eu_rooster['Fighter_1_elo'] = eu_rooster['Fighter'].map(fighter_dict1)
eu_rooster['Fighter_2_elo'] = eu_rooster['Opponent'].map(fighter_dict1)

fighter_dict2 = dict(zip(light_feather.fighter, light_feather.rating))
eu_light_feather['Fighter_1_elo'] = eu_light_feather['Fighter'].map(fighter_dict2)
eu_light_feather['Fighter_2_elo'] = eu_light_feather['Opponent'].map(fighter_dict2)

fighter_dict3 = dict(zip(feather.fighter, feather.rating))
eu_feather['Fighter_1_elo'] = eu_feather['Fighter'].map(fighter_dict3)
eu_feather['Fighter_2_elo'] = eu_feather['Opponent'].map(fighter_dict3)

fighter_dict4 = dict(zip(light.fighter, light.rating))
eu_light['Fighter_1_elo'] = eu_light['Fighter'].map(fighter_dict4)
eu_light['Fighter_2_elo'] = eu_light['Opponent'].map(fighter_dict4)

fighter_dict5 = dict(zip(middle.fighter, middle.rating))
eu_middle['Fighter_1_elo'] = eu_middle['Fighter'].map(fighter_dict5)
eu_middle['Fighter_2_elo'] = eu_middle['Opponent'].map(fighter_dict5)

fighter_dict6 = dict(zip(medium_heavy.fighter, medium_heavy.rating))
eu_medium_heavy['Fighter_1_elo'] = eu_medium_heavy['Fighter'].map(fighter_dict6)
eu_medium_heavy['Fighter_2_elo'] = eu_medium_heavy['Opponent'].map(fighter_dict6)

fighter_dict7 = dict(zip(heavy.fighter, heavy.rating))
eu_heavy['Fighter_1_elo'] = eu_heavy['Fighter'].map(fighter_dict7)
eu_heavy['Fighter_2_elo'] = eu_heavy['Opponent'].map(fighter_dict7)

df5 = pd.concat([eu_rooster,eu_light_feather,eu_feather,eu_light,eu_middle,
                eu_medium_heavy,eu_heavy,eu_super_heavy,eu_ultra_heavy])
df5['Rating_Dif'] = df5.Fighter_1_elo - df5.Fighter_2_elo
df5.head(50)

,Rank,Fighter,Fighter_1_elo,Win_expec,Opponent Rank,Opponent,Weight,Fighter_2_elo,Rating_Dif,Win_expec_2
67,5,Nobuhiro Sawada,1412.561213,NaN,3,Tomoyuki Hashimoto,Rooster,1526.536558,-113.975345,NaN
68,6,Juan Lopes,1492.978764,NaN,4,Koji Shibamoto,Rooster,1486.225366,6.753398,NaN
69,1,Bruno Malfacine,1497.125950,0.457,9,Thalison Soares,Rooster,1528.331566,-31.205616,0.543
70,1,Bruno Malfacine,1497.125950,NaN,8,Kristian Woodmansee,Rooster,1476.500011,20.625939,NaN
71,7,Lucas Gonçalves,NaN,NaN,2,Cleber Sousa,Rooster,1588.228744,NaN,NaN
72,8,Kristian Woodmansee,1476.500011,NaN,9,Thalison Soares,Rooster,1528.331566,-51.831555,NaN
35,6,Diego Batista,NaN,NaN,4,Pedro Clementino,Light Feather,NaN,NaN,NaN
36,3,Rene Lopez,1482.029420,NaN,11,Alejandro Lecoq,Light Feather,NaN,NaN,NaN
37,1,Michael Musumeci,NaN,NaN,8,Suraj Kumar,Light Feather,NaN,NaN,NaN
38,2,Hiago George,1651.093369,NaN,7,Jonas Andrade,Light Feather,1581.899467,69.193902,NaN
39,3,Rene Lopez,1482.029420,NaN,5,Carlos Oliveira,Light Feather,1507.760609,-25.731189,NaN
40,1,Michael Musumeci,NaN,NaN,9,Lucas Nascimento,Light Feather,1492.991107,NaN,NaN
41,2,Hiago George,1651.093369,NaN,10,Wesley Santos,Light Feather,1492.941455,158.151914,NaN
42,7,Jonas Andrade,1581.899467,NaN,10,Wesley Santos,Light Feather,1492.941455,88.958012,NaN
43,5,Carlos Alberto Oliveira da Silva,NaN,NaN,11,Alejandro Lecoq,Light Feather,NaN,NaN,NaN
44,8,Suraj Kumar Budhram,NaN,NaN,9,Lucas Nascimento,Light Feather,1492.991107,NaN,NaN
0,15,Max de Been,NaN,NaN,19,Gabriel Sousa,Feather,1618.303637,NaN,NaN
1,16,Diego Henrique Sato Aniceto,NaN,NaN,17,Jobson Apolinário,Feather,NaN,NaN,NaN
2,13,Sergio Calderon Gonzalez,NaN,NaN,20,Rodrigo Barbosa,Feather,NaN,NaN,NaN
3,14,Brian Mahecha,1487.025076,NaN,18,Ariel Tabak,Feather,1478.661484,8.363591,NaN
4,12,Guilherme Guimaraes Borges Olimpio da Rocha,NaN,NaN,9,John Dantas,Feather,NaN,NaN,NaN
5,11,Sam Matthew Mc Nally,NaN,NaN,7,Deandre Corbe,Feather,1564.717445,NaN,NaN
6,10,Lee Renaut,NaN,NaN,6,Israel de Sousa,Feather,NaN,NaN,NaN
7,8,Antonio Henrique Gomes Felix,NaN,NaN,5,Gabriel Oliveira,Feather,NaN,NaN,NaN
8,2,Gianni Grippo,1505.860450,NaN,15,Max Been,Feather,NaN,NaN,NaN
9,1,Isaac Doederlein,1711.920434,NaN,16,Diego Henrique,Feather,NaN,NaN,NaN
10,4,Alexssandro Sodré,NaN,NaN,14,Brian Mahecha,Feather,1487.025076,NaN,NaN
11,3,Leonardo Saggioro,NaN,NaN,13,Sergio Gonzalez,Feather,1500.000000,NaN,NaN
12,2,Gianni Grippo,1505.860450,NaN,19,Gabriel Sousa,Feather,1618.303637,-112.443187,NaN
13,1,Isaac Doederlein,1711.920434,NaN,17,Jobson Gustavo,Feather,NaN,NaN,NaN
14,4,Alexssandro Sodré,NaN,NaN,18,Ariel Tabak,Feather,1478.661484,NaN,NaN
15,3,Leonardo Fernandes Saggioro,NaN,NaN,20,Rodrigo Barbosa,Feather,NaN,NaN,NaN
27,2,Luan Alves,NaN,NaN,15,Marcus Phelan,Light,1487.363099,NaN,NaN
28,1,Vitor Oliveira,1507.198700,NaN,13,Fabricio Barbarotti,Light,NaN,NaN,NaN
29,8,Italo Moura,1538.071787,NaN,11,Gabriel Figueiró,Light,NaN,NaN,NaN
30,3,Alexandre Molinaro,1563.167251,NaN,16,Jonnatas Gracie,Light,NaN,NaN,NaN
31,7,Guthierry Barbosa,1518.950670,NaN,12,Shinsuke Moribe,Light,NaN,NaN,NaN
32,4,Tommi Pulkkanen,1482.062132,NaN,14,Pedro Henrique,Light,NaN,NaN,NaN
33,5,Léon Larman,NaN,NaN,9,Natan Chueng,Light,1560.447542,NaN,NaN
34,6,Jeremy Jackson,1484.429681,NaN,10,Bruno Borges,Light,1486.633812,-2.204130,NaN
59,1,Tommy Langaker,1588.844652,NaN,15,Oliver Lovell,Middle,1486.737672,102.106980,NaN
60,2,Igor Chaves,NaN,NaN,16,Ayub Magomadov,Middle,NaN,NaN,NaN
61,8,Alexandre Silva,NaN,NaN,13,Jose Macedo,Middle,NaN,NaN,NaN
62,7,Pedro Ramalho,1500.000000,NaN,11,Sean Mcdonagh,Middle,1506.536537,-6.536537,NaN
63,4,Ronaldo Júnior,NaN,NaN,14,Rodrigo Caporal,Middle,NaN,NaN,NaN
64,3,Alexandre Joaquim,NaN,NaN,12,Lars Friberg,Middle,1500.000000,NaN,NaN
65,5,Max Lindblad,1495.073807,NaN,9,Sebastian Brosché,Middle,NaN,NaN,NaN
66,6,Lucas Valle,1489.739509,NaN,10,Bradley Hill,Middle,1500.000000,-10.260491,NaN
45,16,Yan Cabral,1500.000000,NaN,18,Filipe Pinheiro,Medium Heavy,1500.000000,0.000000,NaN
46,14,Sean Coates,1500.000000,NaN,19,Max Bickerton,Medium Heavy,NaN,NaN,NaN

In [211]:
df2.loc[df2.fighter == 'Ronaldo Junior']

             fighter       rating        weight
712   Ronaldo Junior  1528.000917        middle
1260  Ronaldo Junior  1516.212688  medium_heavy
3799  Ronaldo Junior  1571.056958           ABS

In [212]:
# added some by hand since their name in registration was different than bjj heroes
df5.at[35,'Fighter_1_elo']= 1524.914560
df5.at[2,'Fighter_1_elo']= 1486.942166
df5.at[11,'Fighter_2_elo']= 1500.0
df5.at[15,'Fighter_2_elo']= 1500.0
df5.at[30,'Fighter_2_elo']= 1507.198700
df5.at[29,'Fighter_2_elo']= 1507.469986
df5.at[65,'Fighter_2_elo']= 1470.164547
df5.at[63,'Fighter_2_elo']= 1500.000000
df5.at[63,'Fighter_1_elo']= 1528.000917

In [168]:
import  math
def Probability_1(rating1, rating2):
    return 1.0 * 1.0 / (1 + 1.0 * math.pow(10, -1.0 * (rating1 - rating2) / 400))
def Probability_2(rating1, rating2):
    return 1.0 * 1.0 / (1 + 1.0 * math.pow(10, -1.0 * (rating2 - rating1) / 400))

In [226]:
df5['Win_expec'] = df5.apply(lambda x: Probability_1(x.Fighter_1_elo,x.Fighter_2_elo),axis=1)
df5['Win_expec_2'] = df5.apply(lambda x: Probability_2(x.Fighter_1_elo,x.Fighter_2_elo),axis=1)
df5['Rating_Dif'] = df5.Fighter_1_elo - df5.Fighter_2_elo
display(df5.head(50))
display(df5.tail(30))

,Rank,Fighter,Fighter_1_elo,Win_expec,Opponent Rank,Opponent,Weight,Fighter_2_elo,Rating_Dif,Win_expec_2
67,5,Nobuhiro Sawada,1412.561213,0.341617,3,Tomoyuki Hashimoto,Rooster,1526.536558,-113.975345,0.658383
68,6,Juan Lopes,1492.978764,0.509718,4,Koji Shibamoto,Rooster,1486.225366,6.753398,0.490282
69,1,Bruno Malfacine,1497.125950,0.455212,9,Thalison Soares,Rooster,1528.331566,-31.205616,0.544788
70,1,Bruno Malfacine,1497.125950,0.529648,8,Kristian Woodmansee,Rooster,1476.500011,20.625939,0.470352
71,7,Lucas Gonçalves,NaN,NaN,2,Cleber Sousa,Rooster,1588.228744,NaN,NaN
72,8,Kristian Woodmansee,1476.500011,0.425957,9,Thalison Soares,Rooster,1528.331566,-51.831555,0.574043
35,6,Diego Batista,1524.914560,NaN,4,Pedro Clementino,Light Feather,NaN,NaN,NaN
36,3,Rene Lopez,1482.029420,NaN,11,Alejandro Lecoq,Light Feather,NaN,NaN,NaN
37,1,Michael Musumeci,1552.021639,NaN,8,Suraj Kumar,Light Feather,NaN,NaN,NaN
38,2,Hiago George,1651.093369,0.598282,7,Jonas Andrade,Light Feather,1581.899467,69.193902,0.401718
39,3,Rene Lopez,1482.029420,0.463037,5,Carlos Oliveira,Light Feather,1507.760609,-25.731189,0.536963
40,1,Michael Musumeci,1552.021639,0.584144,9,Lucas Nascimento,Light Feather,1492.991107,59.030532,0.415856
41,2,Hiago George,1651.093369,0.713081,10,Wesley Santos,Light Feather,1492.941455,158.151914,0.286919
42,7,Jonas Andrade,1581.899467,0.625295,10,Wesley Santos,Light Feather,1492.941455,88.958012,0.374705
43,5,Carlos Alberto Oliveira da Silva,NaN,NaN,11,Alejandro Lecoq,Light Feather,NaN,NaN,NaN
44,8,Suraj Kumar Budhram,NaN,NaN,9,Lucas Nascimento,Light Feather,1492.991107,NaN,NaN
0,15,Max de Been,NaN,NaN,19,Gabriel Sousa,Feather,1618.303637,NaN,NaN
1,16,Diego Henrique Sato Aniceto,NaN,NaN,17,Jobson Apolinário,Feather,NaN,NaN,NaN
2,13,Sergio Calderon Gonzalez,1486.942166,NaN,20,Rodrigo Barbosa,Feather,NaN,NaN,NaN
3,14,Brian Mahecha,1487.025076,0.512034,18,Ariel Tabak,Feather,1478.661484,8.363591,0.487966
4,12,Guilherme Guimaraes Borges Olimpio da Rocha,NaN,NaN,9,John Dantas,Feather,NaN,NaN,NaN
5,11,Sam Matthew Mc Nally,NaN,NaN,7,Deandre Corbe,Feather,1564.717445,NaN,NaN
6,10,Lee Renaut,NaN,NaN,6,Israel de Sousa,Feather,NaN,NaN,NaN
7,8,Antonio Henrique Gomes Felix,NaN,NaN,5,Gabriel Oliveira,Feather,NaN,NaN,NaN
8,2,Gianni Grippo,1505.860450,NaN,15,Max Been,Feather,NaN,NaN,NaN
9,1,Isaac Doederlein,1711.920434,NaN,16,Diego Henrique,Feather,NaN,NaN,NaN
10,4,Alexssandro Sodré,1639.767632,0.706668,14,Brian Mahecha,Feather,1487.025076,152.742556,0.293332
11,3,Leonardo Saggioro,NaN,NaN,13,Sergio Gonzalez,Feather,1500.000000,NaN,NaN
12,2,Gianni Grippo,1505.860450,0.343604,19,Gabriel Sousa,Feather,1618.303637,-112.443187,0.656396
13,1,Isaac Doederlein,1711.920434,NaN,17,Jobson Gustavo,Feather,NaN,NaN,NaN
14,4,Alexssandro Sodré,1639.767632,0.716548,18,Ariel Tabak,Feather,1478.661484,161.106148,0.283452
15,3,Leonardo Fernandes Saggioro,NaN,NaN,20,Rodrigo Barbosa,Feather,1500.000000,NaN,NaN
27,2,Luan Alves,NaN,NaN,15,Marcus Phelan,Light,1487.363099,NaN,NaN
28,1,Vitor Oliveira,1507.198700,NaN,13,Fabricio Barbarotti,Light,NaN,NaN,NaN
29,8,Italo Moura,1538.071787,0.543926,11,Gabriel Figueiró,Light,1507.469986,30.601801,0.456074
30,3,Alexandre Molinaro,1563.167251,0.579856,16,Jonnatas Gracie,Light,1507.198700,55.968551,0.420144
31,7,Guthierry Barbosa,1518.950670,NaN,12,Shinsuke Moribe,Light,NaN,NaN,NaN
32,4,Tommi Pulkkanen,1482.062132,NaN,14,Pedro Henrique,Light,NaN,NaN,NaN
33,5,Léon Larman,NaN,NaN,9,Natan Chueng,Light,1560.447542,NaN,NaN
34,6,Jeremy Jackson,1484.429681,0.496828,10,Bruno Borges,Light,1486.633812,-2.204130,0.503172
59,1,Tommy Langaker,1588.844652,0.642854,15,Oliver Lovell,Middle,1486.737672,102.106980,0.357146
60,2,Igor Chaves,NaN,NaN,16,Ayub Magomadov,Middle,NaN,NaN,NaN
61,8,Alexandre Silva,NaN,NaN,13,Jose Macedo,Middle,NaN,NaN,NaN
62,7,Pedro Ramalho,1500.000000,0.490594,11,Sean Mcdonagh,Middle,1506.536537,-6.536537,0.509406
63,4,Ronaldo Júnior,1528.000917,0.540210,14,Rodrigo Caporal,Middle,1500.000000,28.000917,0.459790
64,3,Alexandre Joaquim,NaN,NaN,12,Lars Friberg,Middle,1500.000000,NaN,NaN
65,5,Max Lindblad,1495.073807,0.535786,9,Sebastian Brosché,Middle,1470.164547,24.909260,0.464214
66,6,Lucas Valle,1489.739509,0.485238,10,Bradley Hill,Middle,1500.000000,-10.260491,0.514762
45,16,Yan Cabral,1500.000000,0.500000,18,Filipe Pinheiro,Medium Heavy,1500.000000,0.000000,0.500000
46,14,Sean Coates,1500.000000,NaN,19,Max Bickerton,Medium Heavy,NaN,NaN,NaN

,Rank,Fighter,Fighter_1_elo,Win_expec,Opponent Rank,Opponent,Weight,Fighter_2_elo,Rating_Dif,Win_expec_2
51,9,Rafael Paganini,1549.248340,0.598727,6,Nathan Mendelsohn,Medium Heavy,1479.732884,69.515456,0.401273
52,10,Santeri Lilius,1504.381390,0.556062,5,Alec Baulding,Medium Heavy,1465.260706,39.120685,0.443938
53,1,Rudson Mateus,1658.462430,0.713447,16,Yan Cabral,Medium Heavy,1500.000000,158.462430,0.286553
54,1,Rudson Mateus,1658.462430,0.713447,18,Filipe Pinheiro,Medium Heavy,1500.000000,158.462430,0.286553
55,2,Gabriel Salles,NaN,NaN,14,Sean Coates,Medium Heavy,1500.000000,NaN,NaN
56,2,Gabriel Salles,NaN,NaN,19,Max Bickerton,Medium Heavy,NaN,NaN,NaN
57,3,Henrique Moreira,1487.962975,0.494429,13,Angel Cicero,Medium Heavy,1491.834072,-3.871097,0.505571
58,3,Henrique Moreira,1487.962975,0.482684,17,Rodrigo Miguel,Medium Heavy,1500.000000,-12.037025,0.517316
16,2,Dimitrius Souza,1545.521701,0.517903,11,Philippe Pomaski,Heavy,1533.075909,12.445792,0.482097
17,3,Adam Wardzinski,1652.656853,NaN,6,Rafael Lima,Heavy,NaN,NaN,NaN
18,1,Keenan Cornelius,1500.000000,0.446623,8,Dominique Bell,Heavy,1537.232316,-37.232316,0.553377
19,2,Dimitrius Souza,1545.521701,0.646432,7,Hygor Brito,Heavy,1440.701898,104.819803,0.353568
20,3,Adam Wardzinski,1652.656853,0.707932,9,Gabriel Volante,Heavy,1498.853688,153.803166,0.292068
21,1,Keenan Cornelius,1500.000000,NaN,12,Felipe Mauricio,Heavy,NaN,NaN,NaN
22,4,Pedro Elias,1447.803913,0.405561,13,Fábio Alano,Heavy,1514.224650,-66.420737,0.594439
23,7,Hygor Silva,NaN,NaN,11,Philippe Pomaski,Heavy,1533.075909,NaN,NaN
24,5,Jackson Sousa,1503.402938,NaN,10,Guilherme Jardim,Heavy,NaN,NaN,NaN
25,6,Rafael Lima,NaN,NaN,9,Gabriel Volante,Heavy,1498.853688,NaN,NaN
26,8,Dominique Bell,1537.232316,NaN,12,Felipe Mauricio,Heavy,NaN,NaN,NaN
73,4,Gerard Labinski,1480.130781,0.471437,7,Stanislav Varshavskiy,Super Heavy,1500.000000,-19.869219,0.528563
74,2,Helton Junior,1518.008981,0.507494,6,Lukasz Michalec,Super Heavy,1512.801300,5.207681,0.492506
75,3,Patrick Gaudio,1488.489912,0.463057,5,Fellipe Trovo,Super Heavy,1514.207593,-25.717681,0.536943
76,1,Fellipe Andrew,1650.154271,0.726857,4,Gerard Labinski,Super Heavy,1480.130781,170.023490,0.273143
77,1,Fellipe Andrew,1650.154271,0.703570,7,Stanislav Varshavskiy,Super Heavy,1500.000000,150.154271,0.296430
78,5,Rodrigo Silva,1500.000000,0.483070,3,Igor Schneider,Ultra Heavy,1511.768802,-11.768802,0.516930
79,6,Gabriel Lucas,1483.810086,NaN,4,Seif-Eddine Houmine,Ultra Heavy,NaN,NaN,NaN
80,1,Mahamed Aly,1526.477175,0.548683,7,Renan Vieira,Ultra Heavy,1492.541342,33.935834,0.451317
81,1,Mahamed Aly,1526.477175,0.538030,8,Igor Marques,Ultra Heavy,1500.000000,26.477175,0.461970
82,15,Espen Mathiesen,1507.492988,0.411984,4,Manuel Ribamar,Ultra Heavy,1569.296511,-61.803523,0.588016
83,7,Renan Vieira,1492.541342,0.489268,8,Igor Marques,Ultra Heavy,1500.000000,-7.458658,0.510732

In [227]:
df5.at[82,'Weight']= 'Middle'

In [225]:
# if need to update by hand, insert using df.at
df5.at[82,'Rank']= 15
df5.at[82,'Opponent Rank']= 4
df5.at[82,'Fighter']= 'Espen Mathiesen'
df5.at[82,'Opponent']= 'Manuel Ribamar'
df5.at[82,'Fighter_1_elo']= 1507.492988
df5.at[82,'Fighter_2_elo']= 1569.296511
# df5.at[65,'Fighter_2_elo']= 1470.164547
# df5.at[63,'Fighter_2_elo']= 1500.000000
# df5.at[63,'Fighter_1_elo']= 1528.000917

In [223]:
df2.loc[df2.fighter == 'Espen Mathiesen']

              fighter       rating        weight
883   Espen Mathiesen  1500.000000        middle
1275  Espen Mathiesen  1507.492988  medium_heavy
2192  Espen Mathiesen  1507.198700         light
4145  Espen Mathiesen  1500.000000           ABS

In [224]:
df2.loc[df2.fighter == 'Manuel Ribamar']

             fighter       rating        weight
701   Manuel Ribamar  1569.296511        middle
1231  Manuel Ribamar  1609.855543  medium_heavy
3124  Manuel Ribamar  1500.000000         heavy
3898  Manuel Ribamar  1503.299388           ABS

In [214]:
df5.to_csv('euro_ratings_prob.csv', index=True)